.zippy {
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.zippy-heading {
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.zippy-body {
  padding: 20px;
  overflow: hidden;
}

::ng-deep .zippy-body > :last-child {
  margin-bottom: 0!important;
}

.expanded {
  background: #f0f0f0;
}

.fa {
  float: right;
}
